*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: linear-gradient(0deg, rgba(255, 178, 34, 0.9) 0%, rgba(255, 0, 0, 0.9) 100%);
}

input {
  outline: none;
}

button {
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid white;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

#screen {
  text-align: right;
  border: 1px solid white;
  height: 70px;
  font-size: 20px;
  padding: 0 10px;
  grid-column: 1/-1;
}

#screenSm {
  text-align: right;
  border: 1px solid white;
  padding: 0 10px;
  height: 30px;
  grid-column: 1/-1;
}

.grid {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: 20px repeat(5, 70px);
}

#equal,
#clear {
  width: 140px;
  grid-column: span 2;
}

/*# sourceMappingURL=style.css.map */
